*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contaner{
    width: 100%;
    float: left;
    position: relative;
    background: #f3f1f1;
}
.mright{
    background-color: #fff;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background: #fff;
}
#flash{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
#flash img {
    width: 80%;
    height: 400px;
    margin: 0 auto; 
    background:top center no-repeat;

}
#flash ul{
    position: absolute;
    left: 45%;
    bottom: 5%;
    height: 30px;
    padding-right: 20px;
    line-height: 30px;
    text-align: center;
}
#flash ul li{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 7px;

}
#flash ul .li_first{
    background-color: #f40;
}
#flash .button{
    width: 40px;
    height: 90px;
    text-align: center;
    line-height: 50px;
    background-color:rgba(0,0,0,0.3);
    cursor: pointer;
}
#flash .right{
    position: absolute;
    right: 10px;
    top: 45%;
}
#flash .left{
    position: absolute;
    left: 10px;
    top: 45%;
}
#flash .button span{
    font-size: xx-large;
    font-weight: 700;
    line-height: 85px;
    /*margin-left: 15px;*/
    color: rgba(255,255,255,0.5);
}
.main{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
.mleft{
    width: 220px;
    height: 400px;
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    z-index: 999;
    position: absolute;
    left: 0;
    background:rgba(255,255,255,0.9) ;
    top:-420px;
    opacity: 9;
}
.mleft ul{
    position: relative;
    height: 300px;
    display: block;
}
.mleft ul li{
    list-style: none;
    z-index: 111;
}
.mleft>ul li .class_name>a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    height: 15.11px;
    line-height: 15.11px;
    position: relative;
    padding: 14px 15px 15px 20px;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 15px;
    outline: none;
}
.class_name a:hover{
    color: #000;

}
.mleft li:hover{
    border-left: 3px solid #c81623;
    background: rgb(245, 245, 245,0.9);
    border-right:0; 
}
.mleft li:hover .morepro{
    display: block;
}
.mleft>ul li .class_name>a span{
    right: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    display: inline-block;
    background-image:url(../img/right.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.mleft>ul li .morepro{
    position: absolute;
    left: 219px;
    top:0;
    width: 500px;
    height: 400px;
    overflow: hidden;
    background:rgb(245, 245, 245,0.9);
    font-size: 12px;
    display: none;
    z-index: 99999;
}
.mleft>ul li .morepro a{
    display: inline-block;
    color: #000;
    padding: 10px;
    margin: 5px;
    outline: none;
    text-decoration: none;
    font-size: 12px;
}
.linkblock{
    width: 1200px;
    margin: 15px auto 0;
    padding: 10px 0;
    overflow: hidden;
    background: #fff;
    margin-top: 20px;
}
.linkblock a{
    display: block;
    width: 12.5%;
    text-align: center;
    font-size: 12px;
    color: #999;
    line-height: 30px;
    float: left;
    outline: none;
    text-decoration: none;
    padding: 0;
}
.linkblock a.ic1::before{
    background:url(../img/ic1.9983153.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic2::before{
    background:url(../img/ic2.3378ae9.jpg) no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic3::before{
    background:url(../img/ic3.5786fed.jpg)no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic4::before{
    background:url(../img/ic4.0d9dfee.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic5::before{
    background:url(../img/ic5.e30234b.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic6::before{
    background:url(../img/ic6.83de143.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic7::before{
    background:url(../img/ic7.8801866.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.linkblock a.ic8::before{
    background:url(../img/ic8.2fed7ad.jpg)  no-repeat;
    background-size: 100%;
}
.linkblock a::before{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    content: "";
    background-size: 40px 40px;
    text-align: center;
}
.module-container{
    overflow: hidden;
}
.module:first-child{
    margin-left: 0;
}
.module{
    width: 390px;
    height: 310px;
    margin-left:10px; 
    background: #fff;
    display: inline-block;
}
.module .title{
    position: relative;
    width: 100%;
    height: 45px;
    color: #fff;
}
.col1{
    background: #c43d7e;
}
.title h5{
    float: left;
    padding-left: 15px;
    font: 700 18px/45px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
}
.title a{
    float: right;
    margin: 15px 10px 0 0;
    color: #fff;
    font: 12px/16px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
}
.title a::after{
    color: #fff;
}
.content{
    width: 369px;
    height: 362px;
    overflow: hidden;
}
.module .content ul{
    width: 370px;
    height: 260px;
}
.module .content ul li.first{
    height: 241px;
    width: 184px;
    border-bottom: 0;
}
.module .content ul li{
    position: relative;
    width: 184px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.module .content ul li:last-child{
    border-bottom: 0;
    position:absolute;
    top:260px;
    left:195px; 
    border-right: 0;
}
.module .content ul li a{
    float: left;
    width: 184px;
    height: 120px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding: 0;
}
.module .content ul li.first p.name{
    width: 140px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.module .content ul li p.name{
    width: 72px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 14px 0 0 15px;
    color: #333;
    font: 14px/20px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    word-break: break-all;
}
.module .content ul li.first p.price{
    width: 144px;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.module .content ul li p.price{
    width: 72px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    margin: 10px 0 0 15px;
    margin-top: 10px;
    font: 16px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    color: red;
    display: inline-block;
}
.module .content ul li p.price em{
    display: block;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
.module .content ul li.first img{
    width: 160px;
    height: 160px;
    left: 13px;
    top: auto;
    right: auto;
    bottom: 0;
}
.module .content ul li img{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.col2{
    background: #6d55bd;
}
.module .content ul li.list-2{
    border-bottom: 0;
    position:absolute;
    top:260px;
    left:603px; 
    border-right: 0;
}
.col3{
    background: #fd9601;
}
.module .content ul li.list-3{
    border-bottom: 0;
    position:absolute;
    top:260px;
    left: 1002px;
    border-right: 0;
}
.zone-container{
    overflow: hidden;
    margin-top: -83px;
}
.floor-1.floorborder-1{
    border-color: #e87272;
}
.floor-1:nth-child(odd){
    margin-left: 0;
}
.floor-1{
    float: left;
    width: 592px;
    height: 405px;
    background: #fff;
    border-top: 2px solid #fff;
    border-top-color: #c96b2c;
    -webkit-box-shadow: 0 0 8px #eee;
    box-shadow: 0 0 8px #eee;
    margin-bottom: 15px;
    margin-left: 15px;
}
.floor-1 .title{
    background: #fbf3ee;
    width: 100%;
    height: 45px;
    border-color: #c96b2c;
}
.floor-1.floorborder-1 .title .title-name{
    background: #e87272;
}
.floor-1 .title .title-name{
    float: left;
    background: #c96b2c;
    width: 190px;
    height: 45px;
}
.floor-1 .title .title-name p.name{
    margin-left: 15px;
    color: #fff;
    font: 700 18px/40px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
}
.keyword{
    float: right;
    margin: 14px 18px 0 0;
}
.keyword a{
    margin-left: 20px;
    font: 14px/20px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    color: #666;
    text-decoration: none;
    margin: 0;
}
.keyword a:hover{
    color: #666;
}
.claerfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.floor-1 .content{
    width: 100%;
    height: 360px;
}
.floor-1 .content .left-img {
    float: left;
    position: relative;
    width: 190px;
    height: 360px;
    cursor: pointer;
}
.floor-1 .left-img img{
    display: block;
    width: 190px;
    height: 360px;
}
.floor-1 .img-list, .floor-1 .img-list li{ 
    position: relative;
    float: left;
    overflow: hidden;
}

.clearfix{
    zoom: 1;
}
.floor-1 .img-list li{
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #eee;
    border-style: solid;
}
.floor-1 .img-list{
    width: 400px;
    height: 360px;
    display: flex; 
    flex-wrap: wrap; 
}
.floor-1 .img-list li a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height:100%;
    text-decoration: none;
    cursor: pointer;
}
.floor-1 .img-list li p.img-name{
    width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font: 16px/24px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    color: #333;
}
.floor-1 .img-list li p.img-price{
    width: 180px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font: 12px/20px Microsoft Yahei,tahoma,arial,Hiragino Sans GB;
    color: red;
    display: inline-block;
    font-size: 16px;
}
.floor-1 .img-list li p.img-price em{
    padding: 0 8px;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
.floor-1 .img-list li img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
.hotgoods{
    margin: 10px 0;
    overflow: hidden;  
}
.tit{
    height: 50px;
    color:#666;
    font-size: 18px;
    line-height: 50px;
    font-weight: 800;
}
.hotgoods>ul{
    overflow: hidden;
    background: #fff;
}
.hotgoods>ul>li{
    width: 228px;
    height: 275px;
    display: inline-block;
    margin: 10px 3px 10px 8px;
    text-align: center;
}
.hotgoods>ul>li>a{
    outline: none;
    text-decoration: none;
}
.hotgoods ul li img{
    width: 80%;
    height: 200px;
    transition: all 0.6s ease-in-out;
}
.hotgoods ul li img:hover{
    transform: scale(1.1);
}
.hotgoods ul li p{
    padding: 5px 10px;
    line-height: 20px;
    font-size: 14px;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotgoods ul li p span{
    color: #666;
    font-size: 16px;
}
.hotgoods ul li p b{
    color: red;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
}
.hotgoods ul li p s{
    color: #999;
}
.product-carousel{
    width: 1140px;
    height: 322px;
    background-color: #fff;
    padding: 30px 30px 20px 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.product-carousel .title{
    height: 32px;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid #d6d6d6;
}
.product-carousel .title h2{
    float: left;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-top: 4px;
    background: #fff;
    line-height: 24px;
    color: #666;
    font-size: 18px;
    font-weight: 800;
}
.product-carousel .bd{
    width: 10000px;
    height: 259px;
    position: relative;
}


.product-carousel .bd .wbox{
    width: 228px;
    height: 100%;
    position: relative;
    float: left;
}
.product-carousel .bd .box{
    width: 200px;
    margin: 0 22px 0 12px;
    overflow: hidden;
}
.product-carousel .bd .box a{
    cursor: pointer;
    position: relative;
    display: block;
    width: 200px;
    overflow: hidden;
    height: 259px;
}
.product-carousel .bd .box img{
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
}
.product-carousel .bd .box a b{
    display: block;
    padding: 5px 0;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}
.product-carousel .bd .box a font{
    display: block;
    line-height: 24px;
    color: #dc0f50;
    font-size: 20px;
    position: absolute;
    top: 236px;
    left: 0;
}
.bd-1,.bd-2,.bd-3{
    width: 1200px;
    position: absolute;
}
.bd-1{
    top: 0;
    left: 0;
}
.bd-2{
    top: 0;
    left: 1200px;
}
.bd-3{
    top: 0;
    left: 2400px;
}
.b_box{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.left,.right{
    width: 30px;
    height:60px;
    background-color:rgba(100,100,100,0.5);  
    position: absolute;  
    line-height: 60px;
    text-align: center;
    font-size:30px;
    color: #fff;
    display: none;
    cursor: pointer;
    z-index:99;
}
.left.l{
    left: 0px;
    top: 80px;
}
.right.r{
    right: 0px;
    top: 80px;
}